Library
Packages
Temp
*.sln
.vs
Assembly-CSharp.csproj
*.csproj

obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
*.csproj
*.cache
Assembly-CSharp.csproj
*.csproj
*.csproj
*.cache
Assembly-CSharp.csproj
